<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1"> -->
    <title>Připojená zařízení</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/static/css/device2.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

    <div class="container-fluid">
        <div class="row">     
            <div id="c1" class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-2">
                <h1 style="color: white; margin: 50px 0px; text-align: center;">MS Server</h1>

                <button class="accordion" style="font-size:large;" id="stAccordion">Struktura instituce</button>
                <div class="panel">
                    <p>Editace struktury</p>
                    <p>Editace oddělení</p>
                </div>

                <button class="accordion" style="font-size:large;" id="hardwareAccordion">Hardware</button>
                <div class="panel">
                    <a href="/device2">Diagnostika</a>
                    <p>Dveřní zámky</p>
                    <p>Kamery</p>
                </div>

                <button class="accordion" style="font-size:large;" id="relationAccordion">Vazby</button>
                <div class="panel">
                    <p>Dratové prvky</p>
                    <p>Bezdratové prvky</p>
                    <p>NFC čipy</p>
                    <p>Moduly</p>
                    <p>Kamery</p>
                    <p>Rozhraní</p>
                </div>

                <div style="padding-bottom:0px;padding-left: 50px; font-size: large; color: white;">
                    Zaměstnanci
                </div>

                <div style="padding-bottom:0px;padding-left: 50px; font-size: large; color: white;">
                    Klienti
                </div>

                <button class="accordion" style="font-size:large;" id="multiAccordion">Multimedia</button>
                <div class="panel">
                    <p>Rádia</p>
                    <p>Televize</p>
                </div>

                <button class="accordion" style="font-size:large;" id="toolAccordion">Nastroje</button>
                <div class="panel">
                    <p>Wireless config tool</p>
                </div>

            </div>

            
            <!-- <div id="c4" class="col-12 col-md-8 col-lg-8 col-xl-8 col-xxl-10">

                
            </div> -->

            <!-- {% set data_dict = {} %}
            {% for row in devices %}
                {% set _ = data_dict.update({row[0]: row[1]}) %}
            {% endfor %}

            {% set data_dict2 = {} %}
            {% for row in query %}
                {% set _ = data_dict2.update({row[0]: row[1]}) %}
            {% endfor %} -->



            <div id="c2" class="col-12 col-md-8 col-lg-8 col-xl-8 col-xxl-10">

                <div id="c4"> 
                    <div id="c3">
                        <h5> <b>Výběr podle typu I/O prvku</b></h5> 
                        <form id="device-form" action="{{ url_for('device2') }}" method="GET">
                            <!-- <label for="devices">Vyber zařízení:</label> -->
                            <!-- <select name="device" id="equ" onchange="this.form.submit(); saveDevice()"> -->
                            <select name="device" id="equ" onchange="handleChange(event)">
                                <option value="">Vyberte zařízení 
                                {% for key, value in data_dict.items() %}
                                    <option value="{{key}}" {% if key == selected_device %}selected{% endif %}>{{ key }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>

                    <p> 
                        <!-- <b>{{ formatted_time }} {{ current_time.strftime('%H:%M') }}   &nbsp&nbsp Uživatel: {{user.id}}</b> 
                        &nbsp&nbsp <a href="/logout">Odhlášení</a>  -->


                        <!-- <p id="p1" style="margin-right: 0px;"><b> </b></p> &nbsp&nbsp Uživatel: {{user.id}} &nbsp&nbsp <a href="/logout">Odhlášení</a> -->

                        <span id="span1"> </span> <b> &nbsp&nbsp Uživatel: {{user.id}} </b> &nbsp&nbsp <a href="/logout">Odhlášení</a>

                    </p> 
                
                </div>

                <!-- <p>
                    <b>{{ formatted_time }} {{ current_time.strftime('%H:%M') }}   &nbsp&nbsp Uživatel: {{user.id}}</b> 
                    <a href="/logout">Odhlášení</a>
                </p> -->

                <!-- Vytvoření slovníku -->
                <!-- {% set data_dict = {} %}
                {% for row in devices %}
                    {% set _ = data_dict.update({row[0]: row[1]}) %}
                {% endfor %}

                {% set data_dict2 = {} %}
                {% for row in query %}
                    {% set _ = data_dict2.update({row[0]: row[1]}) %}
                {% endfor %} -->

                <!-- Iterace přes slovník -->

                <!-- <div style="background-color: red;">
                {% for key, value in data_dict2.items() %}
                    
                    <p> klíč <strong>{{ key }}</strong>: hodnota {{ value }}  </p>
                    
                {% endfor %}
                </div> -->
                

                <!-- <div id="c3">

                    <h5> <b>Výběr podle typu I/O prvku</b></h5> 

                     <label for="pet-select" style="padding-left: 20px; padding-top: 20px;">Choose a pet:</label>
                        <select name="pets" id="pet-select" style = "margin-right: 20px; margin-bottom: 20px;">
                            <option value="">--Please choose an option--</option>
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="hamster">Hamster</option>
                            <option value="parrot">Parrot</option>
                            <option value="spider">Spider</option>
                            <option value="goldfish">Goldfish</option>
                        </select> 

                        <select id="deviceSelect">
                            Možnosti se naplní dynamicky 
                        </select>


                        <form action="{{ url_for('device2') }}" method="GET">
                            <label for="devices">Vyber zařízení:</label> 
                            <select name="device" id="equ" onchange="this.form.submit()">
                                <option value="">Vyberte zařízení 
                                {% for key, value in data_dict.items() %}
                                    <option value="{{key}}" {% if key == selected_device %}selected{% endif %}>{{ key }}</option>
                                {% endfor %}
                            </select>
                        </form>
                </div> -->

                <h4 style="color: #7393B3;" > <b>Hardware Diagnostika -> Výpis detekovaných prvků v síti</b></h4>
            
                <!-- <table id="t1" class="table table-striped">          -->
                <table id="t1"> 
                    <thead>
                        <tr>
                            <th>Typ prvku/IO </th>
                            <th>MAC Adresa </th>
                            <th>IP Adresa</th>
                            <th>Last Activity</th>
                            <th>RunTime</th>
                            <th>Verze</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in query %}
    
                        <tr>
                            <td>{{ device[0] }}</td>
                            <td>{{ device[1] }}</td>
                            <td>{{ device[2] }}</td> 
                            <td>{{ device[3] }}</td>
                            <!-- <td>{{ device[4] }}</td> -->
                            <td>{{ (device[4] / 86400.002) | int }}d {{ (((device[4] / 86400.002) % 1) * 24) | int }}h {{ (((((device[4] / 86400.002) % 1) * 24) % 1) * 60) | int }}m </td>
                            <!-- <td>{{ (((((device[4] / 86400.002) % 1) * 24) % 1) * 60) | int }}                                    </td> -->
                            <td>{{ device[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 

                <!-- {% with messages = get_flashed_messages(with_categories=True) %}
                                {% if messages %}
                                    <ul>
                                        {% for category, message in messages %}
                                            <li class="{{ category }}">{{ message }}</li> 
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                {% endwith %}  -->
            
            </div>
        </div>
    </div>

    <script src="/static/js/device2.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
</body>
</html>
