<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seznam funkcí</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/static/css/device.css">

</head> 
<body>
    
    <div class="container-fluid">
        <div class="row">
            <div id="c1" class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-2" >
                <h1 style="color: white; margin: 50px 0px; text-align:center;">MS Server</h1>

                <button class="accordion" style="font-size:large;">Struktura instituce</button>
                <div class="panel">
                    <p>Editace struktury</p>
                    <p>Editace oddělení</p>
                </div>

                <button class="accordion" style="font-size:large;">Hardware</button>
                <div class="panel">
                    <a href="/device2">Diagnostika</a>
                    <p>Dveřní zámky</p>
                    <p>Kamery</p>
                </div>

                <button class="accordion" style="font-size:large;">Vazby</button>
                <div class="panel">
                    <p>Dratové prvky</p>
                    <p>Bezdratové prvky</p>
                    <p>NFC čipy</p>
                    <p>Moduly</p>
                    <p>Kamery</p>
                    <p>Rozhraní</p>
                </div>

                <div style="padding-bottom:0px;padding-left: 50px; font-size: large; color: white;">
                    Zaměstnanci
                </div>

                <div style="padding-bottom:0px;padding-left: 50px; font-size: large; color: white;">
                    Klienti
                </div>

                <button class="accordion" style="font-size:large;">Multimedia</button>
                <div class="panel">
                    <p>Rádia</p>
                    <p>Televize</p>
                </div>

                <button class="accordion" style="font-size:large;">Nastroje</button>
                <div class="panel">
                    <p>Wireless config tool</p>
                </div>

            </div>

            <div id="c2" class="col-12 col-md-8 col-lg-8 col-xl-8 col-xxl-10">
                <div id="c4"> 
                    <p> 
                       
                        <span id="span1"> </span> <b> &nbsp&nbsp Uživatel: {{user.id}} </b> &nbsp&nbsp <a href="/logout">Odhlášení</a>

                    </p> 
                
                </div>
            </div>

        </div>
    </div>

    <script src="/static/js/device.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
</body>
</html>
