<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Úvodní stránka</title>

    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>

    <div id = "c1">

        <div class="header">
            <a href="/form" class="login"><b>Přihlášení</b></a>          
        </div>

        <div class="header2">
            <img src="/static/images/codaco-logo.jpg" alt="Codaco" width="150px"  style="margin-top: 0px;"></a>       
        </div>

        <b id = "n1" style="font-size: 50px">Vítejte na stránkách pro přihlášení</b>

        <p id = "p1" style="margin-top: 10px;"><i><b>Stránky zobrazují seznam aktivních zařízení v nemocnici. </b></i></p>

    </div> 

    <footer class="footer">
        <div class="footer-left">  <b>Verze 1.0</b></div>
        <div class="footer-right"> <b>© 2024 Michal Kraninger.</b></div>
    </footer>

</body>
</html>
